// Place all the styles related to the theatrecompanies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.regist-theatre-company-form{
  width: 1000px;
  margin: 0 auto;
  text-align:center;
}

.theatrecompany-show{
  width: 1000px;
  margin: 0 auto;
}

.theatrecompany-data{
  display:flex;
  margin-top: 20px;
  padding: 20px 0;
  position: relative;
}

.theatrecompany-image{
  margin-right: 20px;
}

.theatrecompany-image img{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.contents-wrapper{
  padding: 20px 0;
}

.contents-wrapper a{
  text-decoration: none;
}

.members{
  display: flex;
}

.member img{
  height: 150px;
  object-fit: cover;
}

.member{
  height: 180px;
  border-left: 1px solid #eee;
  margin-right: 50px;
  cursor: pointer;
}

.member:hover{
  background-color: rgb(250, 250, 250);
  opacity: 0.5;
}

.member a{
  color: #000;
  margin-left: 10px;
}

.performance{
  display: flex;
  border-top: 1px solid #eee;
  cursor: pointer;
  color: #000;
}

.performance:hover{
  background-color: rgb(250, 250, 250);
  opacity: 0.5;
}

.performance-detail{
  margin-top: 20px;
}

.performance img{
  width: 150px;
  object-fit: contain;
}

.performance img{
  margin-right: 40px;
}

.performance-title{
  vertical-align: top;
  font-size: 20px;
  margin-bottom: 10px;
}

.theatrecompany-show .title{
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  background-color: #eee;
  padding: 5px 10px;
  border-top: 1px solid rgb(219, 219, 219);
}

.title-all{
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 15px;
  cursor: pointer;
  color: rgb(85, 85, 85);
}

.title-all:hover{
  text-decoration: underline;
}