// Place all the styles related to the theatrecompanies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.regist-theatre-company-form{
  width: 1000px;
  margin: 0 auto;
}

.theatrecompany-show{
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.theatrecompany-data{
  display:flex;
  margin: 20px 0;
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid #eee;
}

.theatrecompany-image{
  margin-right: 20px;
}

.theatrecompany-image img{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.members img{
  height: 200px;
  width: 200px;
  object-fit: cover;
}